pandas
torch
torchvision
scikit-learn
torchvision
pytorch-lightning
numpy
scipy
lockfile
imgaug


ConfigSpace
pynisher
pyrfr>=0.7,<0.9
smac
dask
distributed>=2.2.0

pytest
sklearn
setuptools
joblib
pyyaml
pillow
